<div class="row pb-2">

  <div class="col-md-2">
    <select  class="form-select" [(ngModel)]="inputCurrency" aria-label="Default select example"    >
      <option *ngFor="let currency of currencies">{{ currency }}</option>
    </select>
  </div>

  <div class="col-md-2">
    <select  class="form-select" [(ngModel)]="outputCurrency" aria-label="Default select example" >
      <option *ngFor="let currency of currencies">{{ currency }}</option>
    </select>
  </div>

</div>

<div class="row pt-2">

  <div class="col-md-2">
    <input type="number" [(ngModel)]="inputNumber" class="form-control" />
  </div>

  <div class="col-md-2">
    <input
      class="form-control"
      type="number"
      [ngModel] = "result()"
      value="Disabled readonly input"
      aria-label="Disabled input example"
      disabled
      readonly
    />
  </div>

</div>
